[Unit]
Desciption=Music Player Daemon

[Service]
ExecStart=/usr/bin/mpd --no-daemon /home/omar/.config/mpd/mpd.conf

[Install]
WantedBy=default.target
